.ForecastPreview card-header {
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: #633e5b;
  font-size: 100px;
}
.Forecast card-title {
  text-align: center;
  font-size: 20px;
  font-family: "Indie Flower", cursive;
  color: #633e5b;
}
.Forecast card-text {
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: #b392ac;
}
.Forecast forecast-icon {
  width: 80px;
  display: block;
}
.Forecast forecast-temperature {
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: #b392ac;
  font-size: 22px;
}
.Forecast row {
  align-items: center;
  margin-bottom: 3px;
  border-bottom: 10px;
  color: #633e5b;
}
